@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #2597f4;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.heading span {
  color: #2597f4;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  background: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  border: 0.2rem solid #2597f4;
}
.btn:hover {
  background: #2597f4;
  border-color: #2597f4;
  color: #fff;
}

.header .contact-info {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2597f4;
}
.header .contact-info p {
  font-size: 1.5rem;
  color: #fff;
}
.header .contact-info p i {
  padding-right: 0.5rem;
  color: yellow;
}
.header .navbar {
  padding: 2rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 0.2rem solid #2597f4;
  position: relative;
  z-index: 1000;
}
.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header .navbar .logo {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  font-weight: bolder;
}
.header .navbar .logo i {
  color: #2597f4;
}
.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.header .navbar .links a:hover {
  text-decoration: underline;
  color: #2597f4;
}
.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(60, 60, 71);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.home .image {
  flex: 1 1 42rem;
}
.home .image img {
  width: 50%;
}
.home .content {
  flex: 1 1 42rem;
}
.home .content h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
  padding: 1rem 0;
}

.fun-fact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  background: #f5f5f5;
  gap: 3.5rem;
}
.fun-fact .box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.fun-fact .box img {
  height: 10rem;
}
.fun-fact .box h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.fun-fact .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
  padding-top: 0.5rem;
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;
}
.about .image {
  flex: 1 1 42rem;
}
.about .image img {
  width: 100%;
}
.about .content {
  flex: 1 1 42rem;
}
.about .content h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  padding-bottom: 0.5rem;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
  padding: 1rem 0;
}

.Profiles {
  background: #f5f5f5;
}
.Profiles .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.Profiles .box-container .box {
  text-align: center;
  background: #fff;
  border: 0.2rem solid #2597f4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
}
.Profiles .box-container .box:hover {
  background: rgb(60, 60, 71);
}
.Profiles .box-container .box:hover h3 {
  color: #fff;
}
.Profiles .box-container .box:hover p {
  color: #fff;
}
.Profiles .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.Profiles .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  padding: 1rem 0;
}
.Profiles .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
}

.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.gallery .gallery-container .box {
  height: 25rem;
  overflow: hidden;
}
.gallery .gallery-container .box:hover img {
  transform: scale(1.1);
}
.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.facilities {
  background: #f5f5f5;
}
.facilities .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.facilities .box-container .box {
  background: #fff;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #2597f4;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.facilities .box-container .box:hover {
  background: rgb(60, 60, 71);
}
.facilities .box-container .box:hover h3 {
  color: #fff;
}
.facilities .box-container .box:hover p {
  color: #fff;
}
.facilities .box-container .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}
.facilities .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.facilities .box-container .box p {
  font-size: 1.4rem;
  line-height: 2;
  color: #000000;
}

.myustadz .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  align-items: flex-start;
}
.myustadz .box-container .box {
  overflow: hidden;
  text-align: center;
}
.myustadz .box-container .box:hover .content {
  margin-bottom: 0;
}
.myustadz .box-container .box img {
  width: 100%;
}
.myustadz .box-container .box .content {
  padding: 2rem;
  margin-bottom: -7rem;
}
.myustadz .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}
.myustadz .box-container .box .content p {
  font-size: 1.4rem;
  line-height: 2;
  color: #000000;
  padding: 0.5rem 0;
}
.myustadz .box-container .box .content .share {
  margin-top: 1.5rem;
}
.myustadz .box-container .box .content .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  margin: 0 0.3rem;
  background: rgb(60, 60, 71);
  color: #fff;
}
.myustadz .box-container .box .content .share a:hover {
  background: #2597f4;
}

.reviews {
  background: #f5f5f5;
}
.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.reviews .box-container .box {
  text-align: center;
  padding: 3rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.2rem solid #2597f4;
}
.reviews .box-container .box:hover {
  background: rgb(60, 60, 71);
}
.reviews .box-container .box:hover .text p {
  color: #fff;
}
.reviews .box-container .box:hover .user h3 {
  color: #fff;
}
.reviews .box-container .box .star i {
  color: #2597f4;
  font-size: 1.7rem;
}
.reviews .box-container .box .text {
  position: relative;
  z-index: 0;
  padding: 1.5rem 0;
}
.reviews .box-container .box .text i {
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.3;
  color: #2597f4;
}
.reviews .box-container .box .text p {
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
}
.reviews .box-container .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.reviews .box-container .box .user h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.2rem solid #2597f4;
}
.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  padding-bottom: 1rem;
}
.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .row form .inputBox input {
  width: 49%;
}
.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: #000000;
  margin: 0.7rem 0;
  border: 0.2rem solid #2597f4;
}
.contact .row form .inputBox input:focus, .contact .row form textarea:focus {
  background: rgb(60, 60, 71);
  color: #fff;
}
.contact .row form .inputBox input:focus::-moz-placeholder, .contact .row form textarea:focus::-moz-placeholder {
  color: #fff;
}
.contact .row form .inputBox input:focus::placeholder, .contact .row form textarea:focus::placeholder {
  color: #fff;
}
.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

.footer {
  background: #f5f5f5;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  padding: 1rem 0;
}
.footer .box-container .box .link {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
}
.footer .box-container .box .link i {
  padding-right: 0.5rem;
  color: #2597f4;
}
.footer .box-container .box .link:hover {
  color: #2597f4;
}
.footer .box-container .box .link:hover i {
  padding-right: 2rem;
}
.footer .box-container .box p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #000000;
}
.footer .box-container .box p span {
  color: #2597f4;
}
.footer .box-container .box .email {
  width: 100%;
  border: 0.2rem solid #2597f4;
  padding: 1.6rem 1.4rem;
  font-size: 1.6rem;
  color: #000000;
  margin: 1rem 0;
}
.footer .box-container .box .share {
  margin-top: 2rem;
}
.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  background: rgb(60, 60, 71);
  color: #fff;
  margin-right: 0.3rem;
  text-align: center;
}
.footer .box-container .box .share a:hover {
  background: #2597f4;
}
.footer .credit {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(60, 60, 71);
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 0.2rem solid #2597f4;
  text-align: center;
}
.footer .credit span {
  color: #2597f4;
}

@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
  }
  .header .navbar {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .contact-info {
    padding: 2rem;
  }
  .header .navbar {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .header .contact-info {
    display: none;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.2rem solid #2597f4;
    border-bottom: 0.2rem solid #2597f4;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }
  .fun-fact {
    padding: 5rem 2rem;
  }
  .fun-fact .box {
    flex-flow: column;
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
  .heading {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */